/* CSS Coment*/
@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
body{
    font-family:'Athiti', sans-serif ;
}
.center{
    text-align: center;
}
.color-test{
    background-color: pink;
}
.color-test-rgb{
   background-color: rgb(87, 45, 45)
}
.color-test-rgba{
    background-color: rgba(255, 0, 0, 0.2)
}
.color-test-hex{
    background-color: #142F3A;
}
.background-test{
    background-color: rgb(172, 135, 135);
}
.background-test-img{
    background-image: url(teaw.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    }

.background-test-img-short{
    background: #03baec url("teaw.jpg") no-repeat 50% -250%;
}
.margin-test{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.padding-test{
    border: 1px solid rgb(3, 3, 3);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
/*
body {
    background-color: rgb(119, 31, 192);
}
h1{
color: antiquewhite; 
text-align: center;    
   }
p{
    color: rgb(10, 10, 10);
    text-align: right: ;;
}   
#fy {
    color: rgb(255, 204, 0);
}
.fr {
    color: darkblue;
}
.fb {
    font-size: 30px;
}
p.center {
    text-align: center;
}
